<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A17_Ex01_Dor_204120869_Almog_305744856.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <A17_Ex01_Dor_204120869_Almog_305744856.Properties.Settings>
            <setting name="top" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </A17_Ex01_Dor_204120869_Almog_305744856.Properties.Settings>
    </userSettings>
</configuration>